input.ng-invalid.ng-touched {
  border: 1px solid red
}

body{

  padding-top:80px;
}

#form1{

  justify-content: left;
  justify-items: left;


}

#well1{

  /* box-shadow: 5px 5px 5px rgb(65, 65, 117); */

  box-shadow: 2px 2px 2px 2px rgb(170, 170, 173);
}

