
<div class="container" style="margin-top: 100px; margin-left:250px;">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 ">
      <div class="button col-md-3">
        <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" routerLink="/tenant-property">
          <h4>
            <span class="glyphicon glyphicon-list"></span>
            <br>PROPERTIES</h4>
        </button>

      </div>
      <div class="button col-md-3">
        <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" routerLink="/tenant-applications">
          <h4>
            <span class="glyphicon glyphicon-briefcase"></span>
            <br>APPLICATIONS</h4>
        </button>

      </div>

      <div class="button col-md-3">
          <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" disabled>
            <h4>
              <span class="glyphicon glyphicon-home fa-lg"></span>
              <br>LISTINGS</h4>
          </button>
  
        </div>
        <div class="button col-md-3">
          <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" disabled>
            <h4>
              <span class="glyphicon glyphicon-usd fa-lg"></span>
              <br>PAYMENTS</h4>
          </button>
  
        </div>

    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 ">
      <div class="button col-md-3">
        <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" disabled>
          <h4>
            <span class="glyphicon glyphicon-eye-open"></span>
            <br>SCREENING</h4>
        </button>

      </div>
      <div class="button col-md-3">
        <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" disabled>
          <h4>
            <span class="glyphicon glyphicon-wrench"></span>
            <br>MAINTENANCE</h4>
        </button>

      </div>
      <div class="button col-md-3">

        <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" disabled>
          <h4>
            <span class="glyphicon glyphicon-check"></span>
            <br>EXPENSES</h4>
        </button>

      </div>
      <div class="button col-md-3">
        <button mat-raised-button color="primary" type="text" class="btn btn-primary" class="hugebuttons" disabled>
          <h4>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <br>PAID SERVICES</h4>
        </button>

      </div>

    </div>
  </div>
</div>