label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #6196ed;
  }

  label + label{
    margin: 0 15px 0 20px;
  }

input.ng-invalid.ng-touched {
    border: 1px solid red
  }
  body{

    padding-top:50px;
  }