
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.ng-invalid.ng-touched {
    border: 1px solid red
  }
/* #well1
{
    background-color: white;
    /* width:700px; */
/* } */

/* #head1
{
    background-color: rgb(248, 237, 237);
    width:850px;
    margin-top:0px;
} */ 

