<body>
        
    <div class="container" id="con1" >
        <div class="well" id="well1">
        <h1 align="center">
            Welcome To OffrBox</h1>
        <br>
    <br>
    <br>
    <p style="font-size:15px">This is a test version for tenant Screening, which includes:</p>
    <ol class="list-group">
        <li class="list-group-item" >1. Landlord/owner logging in/Signing up.</li>
        <li class="list-group-item" >2. Sending a screening request.</li>
        <li class="list-group-item">3. Landlord/Owner can see the status of the screening requests made</li>
    </ol>
    <ng-template #UserAuth><a href="/screening-request"></a></ng-template>
    <ng-template #NotAuth><a href="/home-signup"></a></ng-template>
    
    </div>
    </div>
    
    <!-- //*ngIf = "!userIsAuthenticated; then ----else----"  -->
    
    <!-- <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div> -->
    
    </body>